<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="camera-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal"
          md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Novedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Mi Estado -->
    <ion-item name="miEstado">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Mi estado</h2>
        <p>Añade una actualización</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="addEstado()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Recientes -->
    <ion-item-divider>
      <ion-label>Recientes</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let estado of recientes">
      <ion-avatar slot="start">
        <img [src]="estado.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ estado.nombre }}</h2>
        <p>{{ estado.hora }}</p>
      </ion-label>
    </ion-item>

    <!-- Vistos -->
    <ion-item-divider>
      <ion-label>Vistos</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let estado of vistos" name="vistos">
      <ion-avatar slot="start">
        <img [src]="estado.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ estado.nombre }}</h2>
        <p>{{ estado.hora }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  
  <!-- Botón flotante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom: 5.5rem; ">
    <ion-button style="--background: #757575; --border-radius: 15px; width: 56px; height: 56px;">
      <ion-icon name="pencil-sharp"  style="font-size: 40px;"></ion-icon>
    </ion-button>
  </ion-fab>  
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-button (click)="addEstado()" style="--background: #09c359; --border-radius: 15px; width: 56px; height: 56px;">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-fab>
  
  
</ion-content>  


<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
    <ion-icon name="chatbox-ellipses-outline" routerLink="/home" [routerDirection]="'root'" ></ion-icon>
    Chats
  </ion-tab-button>

  <ion-tab-button tab="radio">
    <ion-icon name="radio-button-on-outline" routerLink="/status" [routerDirection]="'root'"></ion-icon>
    Estados
  </ion-tab-button>

  <ion-tab-button tab="library">
    <ion-icon name="call-outline"></ion-icon>
    LLamadas
  </ion-tab-button>
</ion-tab-bar>
