ion-avatar {
    border: 2px solid var(--ion-color-primary);
    border-radius: 50%;
    overflow: hidden;
  }
  ion-item-divider {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--ion-color-medium);
  }
  